.footer-style {
    background-color: #FBA532;
    color: white;
    padding: 15px 30px;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}
.footer-text-main {
    margin: 5px;
    font-size: 0.875rem;
}
.footer-text-copy{
    margin: 5px;
    font-size: 0.75rem;
    color: #aaa;
}