.header-style {
    background-color: #FBA532;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
position: fixed;

width: 100%;
}
.header-logo-container {
display: flex;
align-items: center;
gap: 10px;
}
.logo-image {
font-size: 30px;
font-weight: bold;
}
.logo-text{
    font-size: 24px;
    font-weight: bold;
}
.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
