.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;    
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
}


.contact-textarea{
 padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;    
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
}

.section-card-container textarea{
width: 50%;
margin: 0 auto;
height: 150px;

}
.contact-button{
    background-color: #FBA532;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 8px;
    width: 50%;
    margin: 0 auto;
}